/* onlinepizza röd: d60c1d
vit text = gainsboro */

html {
  min-height: 100%;
}

body {
   background-color: #424242;
  color: gainsboro;
  /*background-image: url("http://brainlava.com/admin/assets/SP2013BGPattern.png");*/
  background-image: url('../images/background1.jpeg');
  background-repeat: repeat;
  font-size: 1vw;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.mainback {
    width: 100%;
    overflow: auto;
    height: 100%;
}

.pannel {
    position: fixed;
    width: 15%;
    background-color: grey;
    height: 100%;
    border-radius: 1em 1em 0 0;
}

.mainpage {
    float: right;
    width: 85%;
}

.mainback .pannel .overlay ul {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    padding-left: 0;
    margin-left: -10px;
    font-size: 1.5em;
    font-weight: 800;
    font-family: "Times New Roman", Times, serif;
}

.mainback .pannel .overlay ul li {
    margin: 10px 0;
}

.mainback .pannel .overlay ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
    padding: 10px 0;
    overflow: hidden;

}


header {
    margin-top: 0.3em;
    margin-bottom: 1em;
}

header > a {
    text-decoration: none;
}

header > a h3,
h1 {
    text-align: center;
    text-decoration: none;
    font-family: "Times New Roman", "Times", "serif";
    color: gainsboro;
}

header > a h3 {
    letter-spacing: 1em;
}

header > a h1 {
    letter-spacing: 0.1em;
    font-size: 4em;
}

header > .h-img-wrap {
    background-image: url("https://deepdisheats.files.wordpress.com/2010/12/dufonos.jpg");
    background-size: cover;
    width: 100%;
    height: 22em;
    border-radius: 1em 1em 0 0;
}

header > .h-img-wrap a img {
    border-radius: 0 1em 0 0;
    float: right;
    width: 20em;
    height: auto;
}

header > nav {
    background-color: #d60c1d;
    min-height: 3.5em;
    border-radius: 0 0 1em 1em;
}

header > nav > ul {
    text-align: center;
    list-style: none;
}

header > nav li {
    display: inline-block;
}

header > nav li div {
    height: 3.6em;
    display: block;
}

header > nav li div a {
    padding: 0.6em;
}

header > nav li a {
    font-size: 1.3em;
    color: gainsboro;
    text-shadow: 0.07em 0.12em darkred;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5em;
    line-height: 2.7em;
}

header > nav li div:hover {
    background: darkred;
    border-radius: 0.2em;
}

section.news-feed-wrap {

  margin: auto;
  width: 70em;
  min-height: 20em;
  border-radius: 0.5em;
  padding: 0.5em;
  /*box-shadow: 0.18em 0.18em darkgray;
  border: 0.1em solid gainsboro;*/
}

hr.hr-l {
    margin-left: -2em;
    margin-right: -2em;
    border-color: ghostwhite;
    margin-bottom: 0.5em;
}

hr.hr-s {
  margin-top: -0.4em;
    margin-left: -1em;
    margin-right: -1em;
    border-color: gray;
    margin-bottom: 0.5em;
}

section.news-feed-wrap h3 p {
    color: gainsboro;
}

.menu-container {
  margin: auto;
  width: 60%;
}

.menu-container h1 {
  font-weight: bolder;
}

.menu-container p {
  margin-bottom: 1em;
  text-align: center;
  font-style: italic;
}

.menu-box-container {
  display: table-row;
}

section.text-left, section.img-left {
  text-align: left;
  float: left;
}

section.text-right, section.img-right {
  text-align: right;
  float: right;
  margin-right: 0;
}

section.img-left img, section.img-right img{
  width: 20em;
  height: auto;
}

section.text-left, section.text-right {
  line-height: 1em;
  max-width: 20em;
}

section.text-right, section.img-right {
  margin-left: 24.8em;
}

section.text-left p{
  padding-left: 4em;
  text-align: left;
}

section.text-right p{
  padding-right: 4em;
  text-align: right;
}

div.menu-title-background {

}

div.menu-title-background h3 {
  margin: 0;
  margin-bottom: 0.5em;
  text-align: center;
}

/* Meny titlar */
.menu-container h3#t1:before {
  content: 'Pizza 65:- Familjepizza 130:-';
  text-align: right;
}

.menu-container h3#t2:before {
  content: 'Pizza 65:-';
}

.menu-container h3 {

}

.menu-container h3#t3:before {
  content: 'Pizza 65:-';
}

.menu-container h3#t4:before {
  content: 'Pizza 70:- Familjepizza 135:-';
}

.menu-container h3#t5:before {
  content: 'Pizza 70:-';
}

.menu-container h3#t6:before {
  content: 'Pizza 70:-';
}

.menu-container h3#t7:before {
  content: 'Pizza 75:- Familjepizza 150:-';
}

.menu-container h3#t8:before {
  content: 'Pizza 75:-';
}

.menu-container h3#t9:before {
  content: 'Pizza 80:- Familjepizza 160:-';
}

.menu-container h3#t10:before {
  content: 'Pizza 80:-';
}

.menu-container h3#t11:before {
  content: 'Pizza 80:-';
}

.menu-container h3#t12:before {
  content: 'Kebab';
}

.menu-container h3#t13:before {
  content: 'Sallad 70:-';
}

.menu-container h3#t14:before {
  content: 'Sallad 70:-';
}

.menu-container h3#t15:before {
  content: 'Grill';
}

.menu-container h3#t16:before {
  content: 'Grill';
}

.menu-container article {
  margin-bottom: 0.3em;
  padding: 0;
}

.menu-box-container h3 {
  margin-bottom: 1em;
}

p.menu-item-name, p.menu-item-ingredients {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

p.menu-item-name {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

p.menu-item-ingredients {
  text-transform: lowercase;
  margin-bottom: 1.2em;
}

footer {
  margin-top: 5em;
  background-color: #d60c1d;
  border-radius: 1em 1em 0 0;
  padding-top: 1em;

}

footer > article p,
h2 {
    color: gainsboro;
    text-align: center;
}

@media (max-width: 500px) {

  body {
    font-size: 2.5vw;
  }

  section.news-feed-wrap {
    width: 95%;
  }

  div.menu-container {
    width: 95%;
  }

  .menu-container .img-left img, .menu-container .img-right img{
    height: auto;
    width: 15em;
  }
}


header > onlinepizza {


    z-index: 5 ;
    width:auto;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;

}

footer > article p h2{
    font-size: 2.2vh;
    color: darkgrey;


}

section.meny-wrap {
  margin: auto;
  width: 70%;
  min-height: 20em;
  border-radius: 0.5em;
  padding: 0.5em;
  /*box-shadow: 0.18em 0.18em darkgray;
  border: 0.1em solid gainsboro;*/
}

section.meny-wrap h3 {
  color: gainsboro;
}



.footeraddress{
 width: 100vw;
 height: 8vh;
 color: gainsboro;
}
.footercopyright{
height: 4vh;
width: 100vw;
color: gainsboro;
}


#map {
  z-index: 10;
  width: 37vw;
  height: 28vh;
  margin: 0 auto;
  margin-top: 2vh;
  border-radius: 2.5%;

}

body > .ombager{
   margin: 0 auto;
   width: 99.5vw;
   text-align: center;
   color: gainsboro;

}
body > .ombager > .bager1 {
  width: 35vh;
  border-radius: 5%;
  margin: 0 auto;

}

body > .pizzeriafridhem {
   width: 60vw;
   margin: 0 auto;
   margin-top: 2vh;
}

body > .pizzeriafridhem h2 {
  margin-top: 4vh;
  margin-bottom: 1.5vh;
  color: gainsboro;
}

body > .pizzeriafridhem2 {
  text-align: center;
  color: gainsboro;
  margin-top: 1vh;
}
=======

    html {
        min-height: 100%;
    }

    body {
        background-color: #424242;
        color: gainsboro;
        /*background-image: url("http://brainlava.com/admin/assets/SP2013BGPattern.png");*/
        background-image: url('../images/background1.jpeg');
        background-repeat: repeat;
        font-size: 1vw;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    /* admin edit page */

    .mainback {
        width: 100%;
        overflow: auto;
        height: 100%;
    }

    .pannel {
        position: fixed;
        width: 11em;
        background-color: #595959;
        height: 100%;
        border-radius: 1em 1em 0 0;
    }

    .mainpage {
        float: right;
        width: 100%;
    }

    .mainback .pannel .menypannel ul {
        width: 100%;
        text-align: center;
        margin-top: 5em;
        padding-left: 0;
        margin-left: -0.5em;
        font-size: 1.5em;
        font-family: "Times New Roman", Times, serif;
    }

    .mainback .pannel .menypannel ul li {
        margin: 0.5em 0;
    }

    .mainback .pannel .menypannel ul li a {
        text-decoration: none;
        color: white;
        position: relative;
        display: inline-block;
        padding: 0.5em 0;
        overflow: hidden;
    }

    .mainback .pannel .menypannel ul li a:hover {
        background: #404040;
        border-radius: 0.2em;    }
    /*admin edit end*/
    /*adminloginpage*/

    .boxlog {
        text-align: center;
        border: 0.1em solid transparent;
        border-radius: 0.1em;
        font-size: 1.2em;
        font-weight: 200;
        padding: 0.5em 0;
        width: 15em;
        transition: border .5s;
        margin: auto;
        margin-top: 20%;
        border-color: black;
        margin-left:
    }

    .boxlog:focus {
        border: 0.1em solid #3498DB;
        box-shadow: none;
    }

    .btn {
        text-align: center;
        background-color: #ECF0F1;
        border: 0.1em solid transparent;
        border-radius: 0.1em;
        font-size: 1.2em;
        padding: 0.5em 0;
        width: 12em;
        transition: border 0.2s;
        border-color: black;
    }

    .btn:hover {
        border: 0.1em solid #3498DB;
        box-shadow: none;
    }

    .holder {
        text-align: center;
    }

    .loginheader {
        text-align: center;
    }

    .loginheader > h1 {
        color: white;
        padding-top: 3%;
    }
    /* adminlogin end*/
    /* header modul*/

    header {
        margin-top: 0.3em;
        margin-bottom: 1em;
    }

    header > a {
        text-decoration: none;
    }

    header > a h3,
    h1 {
        text-align: center;
        text-decoration: none;
        font-family: "Times New Roman", "Times", "serif";
        color: gainsboro;
    }

    header > a h3 {
        letter-spacing: 1em;
    }

    header > a h1 {
        letter-spacing: 0.1em;
        font-size: 4em;
    }

    header > .h-img-wrap {
        background-image: url("https://deepdisheats.files.wordpress.com/2010/12/dufonos.jpg");
        background-size: cover;
        width: 100%;
        height: 22em;
        border-radius: 1em 1em 0 0;
    }

    header > .h-img-wrap a img {
        border-radius: 0 1em 0 0;
        float: right;
        width: 20em;
        height: auto;
    }
    /* navbar*/
    header > nav {
        background-color: #d60c1d;
        min-height: 3.5em;
        border-radius: 0 0 1em 1em;
    }

    header > nav > ul {
        text-align: center;
        list-style: none;
    }

    header > nav li {
        display: inline-block;
    }

    header > nav li div {
        height: 3.6em;
        display: block;
    }

    header > nav li div a {
        padding: 0.6em;
    }

    header > nav li a {
        font-size: 1.3em;
        color: gainsboro;
        text-shadow: 0.07em 0.12em darkred;
        text-decoration: none;
        font-weight: bold;
        margin-top: 5em;
        line-height: 2.7em;
    }

    header > nav li div:hover {
        background: darkred;
        border-radius: 0.2em;
    }
    /* header end*/
    /* nyhetsflöde*/

    section.news-feed-wrap {
        margin: auto;
        width: 70em;
        min-height: 20em;
        border-radius: 0.5em;
        padding: 0.5em;
        /*box-shadow: 0.18em 0.18em darkgray;
  border: 0.1em solid gainsboro;*/
    }

    section.news-feed-wrap .hr-l {
        margin-left: -2em;
        margin-right: -2em;
        border-color: ghostwhite;
    }

    section.news-feed-wrap .hr-s {
        margin-left: -1em;
        margin-right: -1em;
        border-color: gray;
    }

    section.news-feed-wrap h3,
    p {
        color: gainsboro;
    }

    .menu-container {
        margin: auto;
        width: 70%;
    }

    .menu-box-container {
        display: table-row;
        margin: 0;
    }

    section.text-left,
    section.img-left {
        margin-bottom: 2.5em;
        text-align: left;
        float: left;
    }

    section.text-right,
    section.img-right {
        margin-bottom: 2.5em;
        text-align: right;
        float: right;
    }

    section.img-left img,
    section.img-right img {
        width: 24em;
        height: auto;
    }
    /*nyhets end*/
    /* footer modul */

    footer {
        margin-top: 5em;
        background-color: #d60c1d;
        border-radius: 1em 1em 0 0;
        padding-top: 1em;
        overflow: hidden;
    }

    footer > article p,
    h2 {
        color: gainsboro;
        text-align: center;
    }

    header > onlinepizza {
        z-index: 5;
        width: auto;
        height: auto;
        max-height: 100vh;
        max-width: 100vw;
    }

    footer > article p h2 {
        font-size: 2.2vh;
        color: darkgrey;
    }

    section.meny-wrap {
        margin: auto;
        width: 70%;
        min-height: 20em;
        border-radius: 0.5em;
        padding: 0.5em;
        /*box-shadow: 0.18em 0.18em darkgray;
  border: 0.1em solid gainsboro;*/
    }

    section.meny-wrap h3 {
        color: gainsboro;
    }

    .footeraddress {
        width: 100vw;
        height: 8vh;
        color: gainsboro;
    }

    .footercopyright {
        height: 4vh;
        width: 100vw;
        color: gainsboro;
    }
    /* Footer end*/

    #map {
        z-index: 10;
        width: 37vw;
        height: 28vh;
        margin: 0 auto;
        margin-top: 2vh;
        border-radius: 2.5%;
    }

    body > .ombager {
        margin: 0 auto;
        width: 99.5vw;
        text-align: center;
        color: gainsboro;
    }

    body > .ombager > .bager1 {
        width: 35vh;
        border-radius: 5%;
        margin: 0 auto;
    }

    body > .pizzeriafridhem {
        width: 60vw;
        margin: 0 auto;
        margin-top: 2vh;
    }

    body > .pizzeriafridhem h2 {
        margin-top: 4vh;
        margin-bottom: 1.5vh;
        color: gainsboro;
    }

    body > .pizzeriafridhem2 {
        text-align: center;
        color: gainsboro;
        margin-top: 1vh;
    }

    @media (max-width: 500px) {
        body {
            font-size: 2.5vw;
        }
        section.news-feed-wrap {
            width: 95%;
        }
        div.menu-container {
            width: 95%;
        }
        .menu-container .img-left img,
        .menu-container .img-right img {
            height: auto;
            width: 15em;
        }
>>>>>>> origin/master
