body {
  background-color: #424242;
  color: darkgray;
  background-image: url("http://brainlava.com/admin/assets/SP2013BGPattern.png");
  background-repeat: repeat;

  font-size: 1rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
  /*margin-bottom: 0.5rem;*/
}

header > h3, h1 {
  text-align: center;
  font-family: "Times New Roman", "Times", "serif";
}

header > h3 {
  letter-spacing: 1rem;
}

header > h1 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.h-img-wrap {
  background-image: url("https://deepdisheats.files.wordpress.com/2010/12/dufonos.jpg");
  background-size: cover;
  width: 100%;
  height: 30vw;
}

header > nav {
  background-color: #c10000;
}

header > nav > ul {
  text-align: center;
  list-style: none;
}

header > nav li {
  display: inline-block;
}

header > nav li div {
  display: block;
}

header > nav li a {
  font-size: 1.2rem;
  color: black;
  text-shadow: 0.07rem 0.12rem darkred;
  text-decoration: none;
  font-weight: bold;
}

header > nav li div:hover {
  background: darkred;
  border-radius: 0.2rem;
}

section.news-feed-wrap {
  margin: auto;
  width: 70%;
  min-height: 30vw;
  border: 0.1rem solid darkgray;
  background-color: white;
}
footer {
  margin-top: 5rem;
}

footer > div > article p{
    text-align: center;
}
